pandas==1.4.2
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
spacy-legacy==3.0.9
spacy-loggers==1.0.2
streamlit==1.9.0
textract==1.6.5
